.input-container {
    margin-bottom: 10px;
  }
  
  .input-container label {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .input-container input,
  .input-container select{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .required {
    color: red; 
  }