.formSearch button[type="submit"]{
    border-color: black;
    color: white;
  }

  .formSearch button[type="submit"]:hover{
    color: white;
    background-color: #000000;
  }

  .formSearch{
    display: inline;
    width: 300px;
    height: 39px;
    position: fixed;
    top:10px;
    right:10px;
    z-index: 10000;
  }