
.team-link{
    text-decoration: none;
    transition: color 0.3s ease;
    filter: blur(0.48px);
  }

.team-link:hover{
    filter: none;
}

.team-container .team-link {
    text-decoration: none;
    color : white;
}

.team-container {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.team-details {
    display: flex;
    flex-direction: column;
}



